@page "/BasicWizard"

<h1>Basic wizard</h1>

<p>
    At its core, the wizard is a control that allows you to guide your users through a series of sequential steps.
    <a class="link-primary" @onclick="async () => await Wizard!.Start()">Start the example wizard.</a>
</p>

<div class="card">
    <Wizard @ref="Wizard"
            ContainerClass="card-body"
            TitleContainerClass="card-title mb-3"
            StepTitleContainerClass="mb-3 d-flex"
            StepTitleClass="me-3"
            ActiveStepTitleClass="fw-bold"
            AllowCancel="true"
            AllowPrevious="true"
            ButtonContainerClass="mb-3 btn-group align-content-end"
            ButtonClass="btn"
            ButtonCancelClass="btn-secondary"
            ButtonCancelText="Stop"
            ButtonPreviousClass="btn-secondary"
            ButtonPreviousText="<< Prev"
            ButtonFinishClass="btn-primary"
            ButtonFinishText="Complete"
            ButtonNextClass="btn-primary"
            ButtonNextText="Next >>">
        <TitleContent>
            <h2>Wizard title</h2>
        </TitleContent>
        <Steps>
            <WizardStep Title="Introduction">
                <p>
                    This is an example wizard for multi step account creation. Please click next to continue.
                </p>
            </WizardStep>
            <WizardStep Title="Your account" OnTryComplete="args => args.IsCancelled = !AccountContext.Validate()">
                <p>
                    Please fill out the form below to create an account. These fields are required and the wizard will not continue if you don't fill out this
                    section.
                </p>

                <EditForm EditContext="AccountContext">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label for="accountDisplayName" class="form-label">Display name</label>
                        <InputText @bind-Value="Account.DisplayName" id="accountDisplayName" class="form-control" />
                        <ValidationMessage For="() => Account.DisplayName" class="text-danger fs-6" />
                    </div>

                    <div class="mb-3">
                        <label for="accountEmailAddress" class="form-label">Email address</label>
                        <InputText @bind-Value="Account.EmailAddress" id="accountEmailAddress" class="form-control" placeholder="name@example.com" />
                        <ValidationMessage For="() => Account.EmailAddress" class="text-danger fs-6" />
                    </div>
                </EditForm>
            </WizardStep>
            <WizardStep Title="Preferences">
                <p>
                    Please select your preferences.
                </p>
            </WizardStep>
            <WizardStep Title="Summary">
                <p>
                    Please check your account information below before submitting.
                </p>

                <ul>
                    <li>Display name: @Account.DisplayName</li>
                    <li>Email address: @Account.EmailAddress</li>
                </ul>
            </WizardStep>
        </Steps>
    </Wizard>
</div>

@code {
    private Wizard? Wizard { get; set; }

    private AccountModel Account { get; }
    private EditContext AccountContext { get; }

    public BasicWizard() {
        Account = new();
        AccountContext = new(Account);
    }

    private class AccountModel {
        [Required(ErrorMessage = "Please enter a display name")]
        public string? DisplayName { get; set; }

        [Required(ErrorMessage = "Please enter your email address")]
        [EmailAddress(ErrorMessage = "Please enter a valid email address")]
        public string? EmailAddress { get; set; }
    }
}
