@page "/Events"
@using System.Text;

<h1>Events</h1>

<p>
    You can subscribe to several events during the wizard's life cycle; most are informational only but some allow you to manipulate the wizard's behaviour.
    <a class="link-primary" @onclick="async () => await Wizard!.Start()">Start the example wizard.</a>
</p>

<ul>
    <li>
        The <code>Wizard.OnStart</code> event fires when the wizard is started.
    </li>
    <li>
        The <code>Wizard.OnStop</code> event fires when the wizard is stopped.
    </li>
    <li>
        The <code>Wizard.OnFinish</code> event fires when the wizard is finished because all steps of the wizard have been completed.
    </li>
    <li>
        The <code>WizardStep.OnInitialize</code> event fires when a step is rendered.
    </li>
    <li>
        The <code>WizardStep.OnTryComplete</code> event fires when a step is completed by clicking the Next button. The provided
        <code>WizardStepAttemptedCompleteEventArgs</code> lets you see if the step has been previously completed and lets you cancel completion of a step.
    </li>
</ul>

<h2>Handling events</h2>

<p>
    Handling events is done with the default Blazor <code>EventCallback</code> struct, so that events can be handled either synchronously or asynchronously,
    and handlers can to omit the event argument parameter if it is unused. For more information regarding Blazor event handling see the official
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/event-handling">Microsoft documentation on Blazor event handling</a>.
</p>

<div class="@(Wizard?.IsActive ?? false ? "card" : "")">
    <Wizard @ref="Wizard"
            ContainerClass="card-body"
            TitleContainerClass="card-title mb-3"
            StepTitleContainerClass="mb-3 d-flex"
            StepTitleClass="me-3"
            ActiveStepTitleClass="fw-bold"
            AllowCancel="true"
            AllowPrevious="true"
            ButtonContainerClass="mb-3 btn-group align-content-end"
            ButtonClass="btn"
            ButtonCancelClass="btn-secondary"
            ButtonPreviousClass="btn-secondary"
            ButtonFinishClass="btn-primary"
            ButtonNextClass="btn-primary"
            OnStart="OnWizardStart"
            OnStop="OnWizardStop"
            OnFinish="OnWizardFinish">
        <TitleContent>
            <h2>Wizard title</h2>
        </TitleContent>
        <Steps>
            <WizardStep Title="Introduction" OnInitialize="args => OnWizardStepInitialize(0, args)" OnTryComplete="args => OnWizardStepTryComplete(0, args)">
                <p>
                    This is an example wizard to demonstrate events. Please click Next to continue.
                </p>
            </WizardStep>
            <WizardStep Title="Completing a step" OnInitialize="args => OnWizardStepInitialize(1, args)" OnTryComplete="args => OnWizardStepTryComplete(1, args)">
                <p>
                    The <code>OnTryComplete</code> event allows you to cancel completion of a step, to allow things such as form validation or active
                    acknowledgement of information.
                </p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="allowStepCompletion" @bind="AllowStepCompletion" />
                    <label class="form-check-label" for="allowStepCompletion">Allow step completion</label>
                </div>
            </WizardStep>
            <WizardStep Title="Conclusion" OnInitialize="args => OnWizardStepInitialize(2, args)" OnTryComplete="args => OnWizardStepTryComplete(2, args)">
                <p>
                    This is the last step in the example wizard.
                </p>
            </WizardStep>
        </Steps>
    </Wizard>
</div>

<pre>@EventDataBuilder</pre>

@code {
    private Wizard? Wizard { get; set; }

    private bool AllowStepCompletion { get; set; } = true;

    private StringBuilder EventDataBuilder { get; set; } = new();

    private void OnWizardStart(WizardStartedEventArgs args) => EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard started");

    private void OnWizardStop(WizardStoppedEventArgs args) => EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard stopped");

    private void OnWizardFinish(WizardFinishedEventArgs args) => EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard finished");

    private void OnWizardStepInitialize(int step, WizardStepInitializedEventArgs args) => EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard step {step} initialized");

    private void OnWizardStepTryComplete(int step, WizardStepAttemptedCompleteEventArgs args) {
        if (step == 1 && !AllowStepCompletion) {
            args.IsCancelled = true;
            EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard step {step} attempted completion was cancelled");
        }
        else {
            EventDataBuilder.AppendLine($"{DateTime.Now:hh:mm:ss} wizard step {step} completed");
        }
    }
}
