@page "/"

<h1>Home</h1>

<p>
    VDT.Core.Blazor.Wizard is a Blazor component that helps you create wizard components with sequential steps, forward/back navigation, conditional 
    completion of steps, step- and wizard-level events, and more.
</p>

<p>
    Go to the <a href="/BasicWizard">basic wizard</a> example to get started or see one of the other pages for more detailed information.
</p>
